<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to L-EARN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap" rel="stylesheet">

</head>
<style>
 <style>
    body {
        margin: 0;
        box-sizing: border-box;

    }

    .top-container {
        font-family: 'Quicksand', sans-serif;

        background-color: #e67e22;
        padding: 10px;
        text-align: center;
        color: #f1f1f1;
        margin-top: -30px;
    }

    .header {
        padding: 10px;
        background: rgb(236, 160, 88);
        color: #f1f1f1;
        position: absolute;
        font-family: 'Quicksand', sans-serif;


    }

    .content {
        padding: 16px;
    }

    .sticky {
        position: fixed;
        position: relative 0px;
        top: 0;
    }

    .container {
        margin-top: 10%;
    };
    section{
        margin-bottom: 20%;
    };
</style>

</style>

<body>
    <div class="top-container">
        <h1 style="border-top-width: 22px;border-top-style: solid;"><%=title%></h1>
        <p style="border-top-width: 22px;">Welcome to <%=title%></p>


    </div>
    <div class="header" id="myHeader">
        <button class="btn btn-ghost"
            style="background-color: aliceblue;border: 1px solid #ffffff;font-weight: 300;border-radius: 0%">
            <h2>Learn</h2>
        </button>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/event">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event">Internships</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/event">Hackathons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event">Techdays</a>
                </li>
            </ul>
        </nav>
    </div>

</body>
<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

</html>